h1 {
    font-size: 50px;
    text-align: center;
}

.container-one {
    display: flex;
    justify-content: space-between;
}

.name {
    
}

.score {
    
}

.question {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}